<h2>About</h2>
<br>
<p>Free Time was developed for friends to collaborate on a calendar together.</p>
<p>Add events to a shared calendar, with customizable style for each member!</p>
<p>Conveniently store everyone's availability in one place, and make the most of your FreeTime!</p>
<br>
<p>======================================================================================================</p>
<br>
<p>This project was created by Ezekiel Klenicki, Gabriel Peer-Drake, Kate Schwitz, and Walter Stahll</p>
<p>as a part of the Introduction to Software Engineering course at UF.</p>
