.body{
  background-color: #f1f1f1;
  height: 100%;
}
/* The sidebar menu */
.nav {
    /*height: 100%; Full-height: remove this if you want "auto" height */
    /*width: 160px; /* Set the width of the sidebar */
    position: sticky; /* Fixed Sidebar (stay in place on scroll) */
    /*z-index: 1; /* Stay on top */
    top: -90; /* Stay at the top */
    width: 100%;
    background-color: #42587f; /* Black */
    display: flex;
    /*overflow-x: hidden; /* Disable horizontal scroll */
    padding-top: 15px;
    align-items: center;
    height: 100px;
    padding-bottom: 25px;
    /*transition: top 0.3s;*/
  }
  
  /* The navigation menu links */
  .nav a {
    text-align: center;
    text-decoration: none;
    font-size: 25px;
    font-family: 'Gill Sans';
    color: #04182e;
    display: block;
  }
  
  /* When you mouse over the navigation links, change their color */
  .nav a:hover {
    color: #f1f1f1;
  }
  .nav p{
    color: #f1f1f1;
    font-size: 40px;
    font-family: 'Gill Sans';
    padding-left: 20px;
  }
  
  .nav a.title{
    color:#f1f1f1;
    font-size: 50px;
    font-family: 'Gill Sans';
    text-align: left;
    padding-left: 25px;
    padding-right: 500px;
    margin-right:400px;
  }
  .fc{
    padding-left: 200px;
    z-index: -1;
  }

  
  .button {
    
    background:#42587f;
    
    border: 0px solid #dcdcdc;
    border-radius: 4px;
    display: inline-block;
    cursor: pointer;
    color: #16075a;
    font-size: 16px;
    font-weight: bold;
    font-family: 'Gill Sans';
    padding: 6px 6px 6px 6px;
    text-decoration: none;
    outline: 0;

    margin-left: 15px;
    margin-right: 15px;
    margin-top: 5px;
    margin-bottom: 5px;
}

.activebutton {
  
  background: #8ec3f9;
  border: 1px solid #84bbf3;
  color: #ffffff;
}

.fc-col-header-cell-cushion {
  display: inline-block;
  padding: 2px 4px;
  color: #16075a;
  font-family: 'Gill Sans';
}

.fc-title{
  color: #16075a;
  font-family: 'Gill Sans';
}