
/* The sidebar menu */
.sidenav {
    /*height: 100%; Full-height: remove this if you want "auto" height */
    width: 160px; /* Set the width of the sidebar */
    position: fixed; /* Fixed Sidebar (stay in place on scroll) */
    z-index: 1; /* Stay on top */
    top: 0; /* Stay at the top */
    left: 0;
    background-color: #42587f; /* Black */
    overflow-x: hidden; /* Disable horizontal scroll */
    padding-top: 20px;
  }
  
  /* The navigation menu links */
  .sidenav a {
    text-align: center;
    text-decoration: none;
    font-size: 25px;
    font-family: 'Gill Sans';
    color: #04182e;
    display: block;
  }
  
  /* When you mouse over the navigation links, change their color */
  .sidenav a:hover {
    color: #42587f;
  }
  .sidenav p{
    color: #f1f1f1;
    font-size: 40px;
    font-family: 'Gill Sans';
    padding-left: 20px;
  }
  
  .sidenav a.title{
    color:#f1f1f1;
    font-size: 40px;
    font-family: 'Gill Sans';
    text-align: left;
    padding-left: 25px;
  }
  .fc{
    padding-left: 200px;
  }

  .button {
    
    background:#bddbfa;
    
    border: 1px solid #dcdcdc;
    border-radius: 4px;
    display: inline-block;
    cursor: pointer;
    color: #16075a;
    font-size: 16px;
    font-weight: bold;
    font-family: 'Gill Sans';
    padding: 6px 6px;
    text-decoration: none;
    outline: 0;

    margin-left: 15px;
    margin-right: 15px;
    margin-top: 5px;
    margin-bottom: 5px;
}

.activebutton {
  
  background: #8ec3f9;
  border: 1px solid #84bbf3;
  color: #ffffff;
}

.fc-col-header-cell-cushion {
  display: inline-block;
  padding: 2px 4px;
  color: #16075a;
  font-family: 'Gill Sans';
}

.fc-title{
  color: #16075a;
  font-family: 'Gill Sans';
}